
/* changing the default website setting */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    font-family: sans-serif;
    
}
a{
    text-decoration: none;
    color: aliceblue;
}
i{
    cursor: pointer;
}


.flex{
    display: flex;
}


.navbar{

    flex-direction: row;
    background-color: rgb(39, 37, 37);
    padding: 25px 50px;
    font-size:2.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.c{
    position: relative;
}
.cart{
    color: #000;
    

    background-color: antiquewhite;
    padding: 12px;
 
    border-radius: 4px;

}

.cart-amount{
    top: -15px;
    right:-10px;
    font-size: 20px;
    background-color: rgb(253, 14, 14);
    text-align: center;
    position: absolute;
    padding: 3px;
    border-radius: 5px;
    color: aliceblue;


}

/* shop */
.shop{
    display: grid;
    grid-template-columns: repeat(4,223px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

@media(max-width:1000px){
    .shop{
        grid-template-columns: repeat(2,223px);
    }
}

@media(max-width:500px){
    .shop{
        grid-template-columns: repeat(1,223px);
    }
}


/* item */
.item{
    border: 2px solid rgb(36, 31, 31);
    border-radius: 4px;


}

.item img{

    width: 100%;
    border-radius: 2px 2px 0 0;
}


.details{
    flex-direction: column;
    gap: 10px;

    padding: 10px;

    
}

.price-quant{
    padding: 10px;
    flex-direction: row;
    justify-content:space-between;
}

.btns{
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.bi-dash{
    color: red;

}
.bi-plus{
    color:green;
}


/* style rule for the cart elements */


.label{
   
    text-align: center    ;

    margin-bottom: 20px;
    
}

.homebutton{
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: bisque;
    padding: 5px;
}

.bi-x{
    color: rgb(235, 5, 5);
    font-weight: 900;
    font-size: 40px;
  
}

/* styles for  cart elements when it contains some  objects */
/* shopping _cart */
.shopping_cart{
   justify-content: center;
    display: grid;
    grid-template-columns: repeat(1,360px);
    gap: 15px;
    
}

.cart_item{
    display: flex;
    border: 2px solid black;
    gap: 10px;
  
}
.title-price-x {
    width:220px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   /* border: 2px solid black; */
    /* padding: 10px; */
}
.title-price{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 10px;
}
.price{
    background-color: #000;
    padding: 2px;
    border-radius: 5px;
    color: bisque;
}
p{
    font-size: 1.2rem;
    font-weight: 600;
}
#last-btn{
    margin-bottom: 10px;
}

.Checkout,.Removeall {
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: bisque;
    padding: 5px;
}
/* .Removeall{

} */